<div class="container">
    <div id="questions" ng-show="showQuestions">
        <h3>{{currentquestion.question}}</h3>
        <div ng-repeat="n in currentquestion.answers">
            <label>
                <input type="radio" name="answer" ng-model="$parent.selectedAnswer" value="{{n}}" required />
                {{n.answer}}
            </label>
        </div>
        <br>
        <button class="btn btn-success" ng-click="nextQuestion();">Next</button>
        <br/><br/>
        <button class="btn btn-danger" ng-click="reset();">Reset Answers</button>
        <!--<h3><b>Selected answer:</b> {{selectedAnswer}}</h3>-->
        <br/><br/>
        <b>Answers to save:</b> {{answersToSave}}
    </div>
    <div ng-show="showEnd">
        <div class="alert alert-success" role="alert">
            Sei arrivato alla fine del questionario!
        </div>
        <button ng-click="newQuestionnaire();" class="btn btn-info">Nuovo Questionario</button>
    </div>
    <br/>
</div>