<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular UI</title>
    <script src="libs/angular/angular.js"></script>
    <script src="libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="js/angular-ui-script.js"></script>
    <link href="libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .date-width{
            width: 200px;
        }
    </style>
</head>
<body ng-app="ui">
<div ng-controller="AlertDemoCtrl">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <button class='btn btn-default' ng-click="addAlert()">Add Alert</button>
</div>

<br/>

<div ng-controller="dateCtrl">
    <p class="input-group date-width">
        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened"  datepicker-options="dateOptions" ng-required="true" close-text="Close" />
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
    </p>
</div>
</body>
</html>