Filter by name: <input type="text" ng-model="customerFilter.name"/>
<br /><br />
<table class="table">
    <tr>
        <th ng-click="sortByField('name')">Name</th>
        <th ng-click="sortByField('city')">City</th>
        <th ng-click="sortByField('orderTotal')">Total Order</th>
        <th ng-click="sortByField('joined')">Joined</th>
        <th> </th>
    </tr>
    <tr ng-repeat="customer in customers | filter: customerFilter | orderBy:sortBy:!reverse" class="repeat-animation">
        <td>{{customer.name}}</td>
        <td>{{customer.city}}</td>
        <td>{{customer.orderTotal | currency}}</td>
        <td>{{customer.joined | date}}</td>
        <td> <a href="#/orders/{{customer.id}}">Go to Orders</a></td>
    </tr>
</table>
<br/>
<div style="text-align: center;">
    Total customers: <b> {{ customers.length}} </b>
    <br/>
    Filtered customers: <b>{{ (customers | filter: customerFilter).length }} </b>
</div>
<br/>